.main{
    background-color: #edecea;
    width: 1000px;
    height: 600px;
    border-radius: 3px;
    padding: 15px;
    display: flex;
    align-items: stretch;
}
.left{
    width: 100%;
}
.message-container{
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 10px;
    height: 500px;
    overflow-y: scroll;
    background-color: #ffffff;

}
.new-message{
    background-color: #ffffff;
    height: 50px;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.new-message textarea{
    border: 0;
    width: 600px;
    height: 100%;
}
.new-message button {
    background-color: #3735f4;
    color: white;
    padding: 15px 45px;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
}
.message{
    margin-bottom:10px ;
}
.right{
    width: 400px;
    background-color: #fff;
    border-radius: 10px;
    margin-left: 10px;
    padding: 10px;
}
.user-items{
    margin-bottom: 10px;
}
